---
import BaseLayout from "../layouts/base-layout.astro"
import Blogpost from "../components/blogpost.tsx"
import { Filters } from "../components/filters.tsx"
import { css } from 'styled-system/css'
import { getCollection } from 'astro:content'

const pageTitle = "Home Page";
const posts = await getCollection('posts')

const styles = css({
  minHeight: '100vh',
  marginX: '2rem'
})

// get unique tags from existings posts
const allTags = posts.flatMap((v) => v.data.tags ?? [])
  .filter((v, i, a) => a.indexOf(v) == i)

// get unique categories for existing posts
const allCategories = posts.map(v => v.data.category)
  .filter((v, i, a) => a.indexOf(v) == i)

---

<BaseLayout pageTitle={pageTitle}>
  <div class={styles}>
    <Filters tags={allTags} categories={allCategories} />
    {posts.map((post) => <Blogpost postData={post.data} href={post.slug} />)}
  </div>
</BaseLayout>
