---
import BaseLayout from "../layouts/base-layout.astro";
import Blogpost from "../components/blogpost.tsx"
import { css } from 'styled-system/css'
const pageTitle = "Home Page";

const allPosts = await Astro.glob("../content/posts/**/*.mdx");

const styles = css({
  minHeight: '100vh',
  marginLeft: '2rem'
})
---

<BaseLayout pageTitle={pageTitle}>

  <div class={styles}>
    {allPosts.map((post) => <Blogpost 
      href={post.frontmatter.slug} 
      title={post.frontmatter.title} 
      createdAt={post.frontmatter.createdAt}
      />)}
  </div>
</BaseLayout>
