---
import BaseLayout from "./base-layout.astro";
const { frontmatter } = Astro.props;
import PostTitle from 'src/components/post-title'
import { css } from 'styled-system/css'
import Comments from 'src/components/comments.tsx'

const styles = css({
    fontWeight: 'regular',
    marginX: '2rem',
    minHeight: '100vh',
  })
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class={styles}>
    <PostTitle
      title={frontmatter.title} 
      createdAt={frontmatter.createdAt}
      tags={frontmatter.tags}
      />
    <slot />
    <Comments client:load />
  </div>
</BaseLayout>
  